@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kwm3oy');
  src:  url('fonts/icomoon.eot?kwm3oy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kwm3oy') format('truetype'),
    url('fonts/icomoon.woff?kwm3oy') format('woff'),
    url('fonts/icomoon.svg?kwm3oy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tambahKardus .path1:before {
  content: "\e900";
  color: rgb(219, 181, 80);
}
.icon-tambahKardus .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(230, 191, 86);
}
.icon-tambahKardus .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(235, 195, 91);
}
.icon-tambahKardus .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(235, 195, 91);
}
.icon-tambahKardus .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(63, 178, 179);
}
.icon-tambahKardus .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(244, 223, 168);
}
.icon-tambahKardus .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(242, 242, 240);
}
.icon-tambahKardus .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(245, 244, 243);
}
.icon-tambahKardus .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(229, 191, 87);
}
.icon-tambahKardus .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(219, 181, 80);
}
.icon-tambahKardus .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(219, 181, 80);
}
.icon-tambahKardus .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(238, 238, 237);
}
.icon-tambahKardus .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(250, 249, 245);
}
.icon-tambahKardus .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(229, 190, 85);
}
.icon-tambahKardus .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(228, 189, 85);
}
.icon-tambahKardus .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(236, 236, 235);
}
.icon-tambahKardus .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-tambahKardus .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(229, 190, 85);
}
.icon-tambahKardus .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(228, 189, 85);
}
.icon-tambahKardus .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(219, 181, 80);
}
.icon-tambahKardus .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(240, 240, 238);
}
.icon-tambahKardus .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-tambahKardus .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(248, 247, 244);
}
.icon-tambahKardus .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.icon-tambahKardus .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(229, 190, 85);
}
.icon-tambahKardus .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(236, 236, 236);
}
.icon-tambahKardus .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(228, 189, 85);
}
.icon-tambahKardus .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(251, 246, 235);
}
.icon-tambahKardus .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-tambahKardus .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(250, 248, 244);
}
.icon-tambahKardus .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(228, 189, 85);
}
.icon-tambahKardus .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(227, 188, 85);
}
.icon-tambahKardus .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(227, 188, 84);
}
.icon-tambahKardus .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(249, 249, 249);
}
.icon-tambahKardus .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(249, 246, 237);
}
.icon-tambahKardus .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(227, 188, 84);
}
.icon-tambahKardus .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-tambahKardus .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.icon-tambahKardus .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-tambahKardus .path40:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(226, 187, 84);
}
.icon-tambahKardus .path41:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(242, 239, 232);
}
.icon-tambahKardus .path42:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(220, 191, 94);
}
.icon-tambahKardus .path43:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-tambahKardus .path44:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(227, 188, 84);
}
.icon-tambahKardus .path45:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.icon-tambahKardus .path46:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(244, 241, 232);
}
.icon-tambahKardus .path47:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-tambahKardus .path48:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(248, 244, 231);
}
.icon-tambahKardus .path49:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(204, 188, 98);
}
.icon-tambahKardus .path50:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(226, 187, 84);
}
.icon-tambahKresek .path1:before {
  content: "\e932";
  color: rgb(193, 224, 229);
}
.icon-tambahKresek .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(63, 178, 179);
}
.icon-tambahKresek .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(165, 193, 196);
}
.icon-tambahKresek .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(165, 193, 195);
}
.icon-tambahKresek .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(216, 237, 241);
}
.icon-tambahKresek .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(160, 194, 196);
}
.icon-tambahKresek .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(217, 237, 241);
}
.icon-tambahKresek .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(216, 237, 241);
}
.icon-tambahKresek .path9:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(192, 224, 229);
}
.icon-tambahKresek .path10:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(168, 187, 187);
}
.icon-tambahKresek .path11:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(162, 188, 186);
}
.icon-tambahOngkir .path1:before {
  content: "\e93d";
  color: rgb(92, 226, 165);
}
.icon-tambahOngkir .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(62, 178, 179);
}
.icon-tambahOngkir .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(92, 227, 165);
}
.icon-tambahOngkir .path4:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(226, 249, 237);
}
.icon-tambahOngkir .path5:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(216, 247, 232);
}
.icon-tambahOngkir .path6:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(232, 250, 241);
}
.icon-tambahOngkir .path7:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(91, 226, 165);
}
.icon-tambahOngkir .path8:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(90, 224, 165);
}
.icon-tambahOngkir .path9:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(241, 252, 247);
}
.icon-tambahOngkir .path10:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(92, 227, 165);
}
.icon-tambahOngkir .path11:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(237, 251, 244);
}
.icon-tambahOngkir .path12:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(229, 249, 239);
}
.icon-tambahOngkir .path13:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(93, 227, 165);
}
.icon-tambahOngkir .path14:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(252, 254, 253);
}
.icon-tambahOngkir .path15:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(250, 254, 252);
}
.icon-tambahOngkir .path16:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(106, 229, 172);
}
.icon-tambahOngkir .path17:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(104, 228, 171);
}
.icon-tambahOngkir .path18:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(241, 252, 247);
}
.icon-tambahOngkir .path19:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(165, 238, 203);
}
.icon-tambahOngkir .path20:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(252, 254, 253);
}
.icon-tambahOngkir .path21:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(89, 222, 166);
}
.icon-tambahOngkir .path22:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(103, 228, 170);
}
.icon-tambahOngkir .path23:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(121, 231, 179);
}
